body {
	background-image: url("background.gif");
	margin-left: 10%;
	margin-right: 10%; 
}

#container {
	background-color: white;
	border : 10px white solid
	;}
#header {
	text-align: right;
	background-color: #A8F0F0}

.entry {
	border: 4px #C2E9E9 solid;
	border-radius: 15px;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	
	text-align: justify;

	}

.entry img {
	float: right;
}


#header h2 {
	font-size: 14pt;
}

.date {border-bottom-style: dashed ;
border-bottom-width: 2px}


.spacer{
	clear: right;
}